.tabbtn {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin: 3px 1px
}

.completedbtn {
  background-color: lime;
  border: none;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 3px 1px
}

.availablebtn {
  background-color: green;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 3px 1px
}

.unavailablebtn {
  background-color: grey;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 3px 1px
}

.optionsbtn {
  background-color: red;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 3px 1px
}

.achievementlocked {
    background: grey;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin: 0px auto;
    text-align: center;
    color: black;
    font-size: 15px;
}

.achievementunlocked {
    background: green;
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin: 0px auto;
    text-align: center;
    color: black;
    font-size: 15px;
}

[desc] {
    position: relative;
    z-index: 2;
}

[desc]:before, [desc]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

[desc]:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 5%, 0.9);
    color: #fff;
    content: attr(desc);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    transition-duration: .5s;
}

[desc]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 5%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    transition-duration: .5s;
}

[desc]:hover:before, [ach-desc]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
